*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main{
    diplay: block;
    width: 1700px;
margin: 3px;
    text-align: center;
}
body{
    font-family: 'Creepster', cursive;
    background-color: black;
    color: orange;
    font-size: 1.5em;
}

header{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
background-color: orange;
color: black;
}

.header_img {
padding: 10px;
margin: 20px 25% 20px 30%;
}

.header_txt  {
    padding: 10px;
    margin: 20px 0px 20px 300px

}
#title{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    }

nav{
    background-color: black;
    color: orange;
    width: 50%;
    }

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 3px;
    margin: 2px;
}

nav ul li{
padding: 2px;
margin: 3px;
}

nav ul li a {
    color: orange;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}


#logo{
    display: flex;
    width: 100px;
    height: 100px;
    margin: .5px 2px .5px .5px;
    transition: transform 0.5s linear;

}
#logo:hover{
transform: scale(1.3);
filter: invert(100%);
filter: hue-rotate(90deg);
}

.login{
    color: white;
    padding: 20px;
    margin-top: 20px;
}

h1, h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nosifer', cursive;
    font-size: 2em;
    text-align: center;
}

h3{
    font-size: 2em;
}

#login_header, #register_header {
    padding: 20px;
}

#categories{
    padding: 20px;
    margin-left: 16%;
}

.categories{
    padding: 20px;
}

p{
    color: white;
    font-size: 1.3em;
    text-align: left;
    margin: 40px 0px 40px 350px;

}
#register_link {
    text-decoration: none;
    color: red;
}
/*
.main {
   diplay: block;
   width: 80%;
   margin: auto;
    text-align: center;
}
*/
.login_label, .register_label {
    color: white;
    padding: 20px;
    font-size: 1.5em;
}

form {
    text-align: left;
    margin-top: 30px;
    margin-left: 10%;
    padding-bottom: 70px;
    width: 80%;
    margin: auto;
}

.info_text {
    color: white;
}
input {
  width: 20%;
  padding: 12px 20px;
  margin: 6px 0;
  box-sizing: border-box;
  font-family: 'Creepster' , cursive;
  font-size: 1em;
  background:white;
  color: red;
}

footer{
   text-align: center;
   padding: 10px 0;
   background-color: black;
   border-top: 2px groove orange;
}
#footer_nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 50%;
    margin: auto;
}
#footer_nav ul li a{
    text-decoration: none;
    color: orange;
}

#footer_nav ul li a:hover {
    text-decoration: underline;
}