*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gloria Hallelujah', cursive;
    background-color: black;
    color: orange;
}

header{
background-color: orange;
color: black;
}
header nav{
    background-color: black;
    color: orange;
    }
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 3px;
    margin: 2px;
}
header nav li a {
    color: orange;
    text-decoration: none;
}

header nav li a:hover {
    text-decoration: underline;
}
#logo{
    width: 200px;
    height: 200px;

}
#logo:hover{

}
h1{
    font-family: 'Bangers', cursive;
}