*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gloria Hallelujah', cursive;
    background-color: black;
    color: orange;
}

header{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
background-color: orange;
color: black;
}

#title{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    }



header nav{
    background-color: black;
    color: orange;
    }
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 3px;
    margin: 2px;
}
header nav ul li{
padding: 2px;
margin: 3px;
}
header nav ul li a {
    color: orange;
    text-decoration: none;

}

header nav ul li a:hover {
    text-decoration: underline;
}
#logo{
    display: flex;
    width: 100px;
    height: 100px;
    margin: .5px 2px .5px .5px;

}
#logo:hover{

}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bangers', cursive;
}